<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="new-icon-title-size">
      Book Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>

      <ion-grid style="text-align: center;">
        <ion-row>
            <ion-col size="1">
            </ion-col>
            <ion-col size="5">
                <div><img src="assets/img/img1.jpg" alt="java" style="height: 150px; border: 1px solid black;"></div>
            </ion-col>
            <ion-col size="5">
                <div><img src="assets/img/img3.jpg" alt="java" style="height: 150px;"></div>
            </ion-col>
            <ion-col size="1">
              </ion-col>
        </ion-row>
      </ion-grid>
      
      <div style="font-size: 18px; font-weight: bold; text-align: center; margin-top: -8px;">Java Programming 12</div>
      <div style="font-size: 14px; text-align: center; font-weight: bold; margin-top: 8px;"> &#x20B9;100 <span style="text-decoration: line-through;
        color: #8c8c8c;"> 200</span> <span style="color: #0597e1;"> 50% off </span></div>

    </div>

    <table border="1" style="margin-top: 12px; font-size: 13px; width: 98%; padding: 10px; background-color: #0597e1; color: white; border-color: white; margin-left: 1%;">
      <tr>
        <td width="50%" height="30px" style="padding: 5px;"> Semester : </td>
        <td width="50%" height="30px" style="padding: 5px;"> Sem 5 </td>
      </tr>
      <tr>
          <td width="50%" height="30px" style="padding: 5px;"> Branch : </td>
          <td width="50%" height="30px" style="padding: 5px;"> Computer, IT </td>
      </tr>
      <tr>
          <td width="50%" height="30px" style="padding: 5px;"> Subject : </td>
          <td width="50%" height="30px" style="padding: 5px;"> Java </td>
      </tr>
      <tr>
          <td width="50%" height="30px" style="padding: 5px;"> Book Name : </td>
          <td width="50%" height="30px" style="padding: 5px;"> Java Programming 12 </td>
      </tr>
      <tr>
          <td width="50%" height="30px" style="padding: 5px;"> Subject Code : </td>
          <td width="50%" height="30px" style="padding: 5px;"> 2150704 </td>
      </tr>
      <tr>
          <td width="50%" height="30px" style="padding: 5px;"> Author : </td>
          <td width="50%" height="30px" style="padding: 5px;"> E Balagurusamy </td>
      </tr>
      <tr>
          <td width="50%" height="30px" style="padding: 5px;"> Publisher : </td>
          <td width="50%" height="30px" style="padding: 5px;"> Mc Graw Hill </td>
      </tr>
      <tr>
          <td width="50%" height="30px" style="padding: 5px;"> Edition : </td>
          <td width="50%" height="30px" style="padding: 5px;"> 2016 </td>
      </tr>
      <tr>
          <td width="50%" height="30px" style="padding: 5px;"> Book Condition : </td>
          <td width="50%" height="30px" style="padding: 5px;"> Good </td>
      </tr>
      <tr>
          <td width="50%" height="30px" style="padding: 5px;"> Total page : </td>
          <td width="50%" height="30px" style="padding: 5px;"> 475 </td>
      </tr>
    </table>

    <div style=" position: fixed; bottom: 0; width: 100%; height: 45px; text-align: center; font-weight: bold; font-size: 15px;">
      <div style="width: 50%; height: 100%; float: left; padding-top: 13px; color:#0597e1; background-color: white;">Add To Wishlist</div>
      <div style="width: 50%; height: 100%; float: left; padding-top: 13px; background-color: #0597e1; color: white;">Buy Now</div>
    </div>
</ion-content>
