ion-grid {
    text-align: center
}
ion-content{
    background-color: #fff;
}
img {
    height: 150px;width: 110px; border: 1px solid black;margin-bottom: 5px;margin-top: 5px;
}
.book_name{
    font-size: 18px; font-weight: bold; text-align: center; margin-top: -8px;margin-bottom: 5px;
}
.selling_price {
    font-size: 14px; text-align: center; font-weight: bold; margin-top: 8px;margin-bottom: 5px
}
.cut-price {
    text-decoration: line-through;color: #8c8c8c;margin-bottom: 15px
}
.discount {
    color: #3484f0;
}
table {
    margin-top: 12px; font-size: 15px; width: 98%; padding: 10px; 
    background-color: #3484f0; color: white; border-color:none;margin-bottom: 52px;margin-left:1%;
}
td {
    padding: 5px;border: 2px solid white;border-collapse: collapse;
}
.div1{
    position: fixed; bottom: 0; width: 100%; height: 45px; text-align: center; font-weight: bold; font-size: 15px;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.048),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.072),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.086),
    100px  100px 80px rgba(0, 0, 0, 0.12);
}
.button{
    width: 50%; height: 100%; float: left; padding-top: 13px; color:black; background-color: white;
    background-color: white;box-shadow: 5px ;
}
.button2{
    width: 50%; height: 100%; float: left; padding-top: 13px; color:white; background-color: white;
    border-left: 0px; background-color: #fb641b;
}
.table2 {
    background-color: white;
    color: black;
    margin-top:-35px;
    font-weight: bold;
}
.table2_tr1{
    text-align: left;
}
.table2_tr2{
    text-align: left;
}







