<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="new-icon-title-size">
      Book Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let book of book">
    <div>

      <ion-grid>
        <ion-row>
            <ion-col size="1">
            </ion-col>
            <ion-col size="5">
                <div><img [src]="book.imageLinkFront" alt="Book front image"></div>
            </ion-col>
            <ion-col size="5">
                <div><img [src]="book.imageLinkBack" alt="Book back image"></div>
            </ion-col>
            <ion-col size="1">
              </ion-col>
        </ion-row>
      </ion-grid>
      
      <div class="book_name">{{book.bookName}}</div>
      <div class="selling_price"> &#x20B9;{{book.sellingPrice}} <span class="cut-price"> {{book.originalPrice}}</span> <span class="discount"> {{book.discount}}% off </span></div>

    </div>
    <table>
      <tr>
        <td width="50%" height="30px" > Semester : </td>
        <td width="50%" height="30px" > Sem {{book.semester}} </td>
      </tr>
      <tr>
          <td width="50%" height="30px" > Branch : </td>
          <td width="50%" height="30px" > {{book.branchName}} </td>
      </tr>
      <tr>
          <td width="50%" height="30px" > Subject : </td>
          <td width="50%" height="30px" > {{book.subjectName}} </td>
      </tr>
      <tr>
          <td width="50%" height="30px"> Book Name : </td>
          <td width="50%" height="30px" > {{book.bookName}} </td>
      </tr>
      <tr>
          <td width="50%" height="30px" > Subject Code : </td>
          <td width="50%" height="30px" > {{book.subjectName}}</td>
      </tr>
      <tr>
          <td width="50%" height="30px"  > Author : </td>
          <td width="50%" height="30px"  > {{book.author}} </td>
      </tr>
      <tr>
          <td width="50%" height="30px"  > Publisher : </td>
          <td width="50%" height="30px"  > {{book.publication}} </td>
      </tr>
      <tr>
          <td width="50%" height="30px"  > Edition : </td>
          <td width="50%" height="30px"  > {{book.edition}} </td>
      </tr>
      <tr>
          <td width="50%" height="30px"  > Book Condition : </td>
          <td width="50%" height="30px"  > {{book.bookCondition}} </td>
      </tr>
      <tr>
          <td width="50%" height="30px"  > Total page : </td>
          <td width="50%" height="30px"  > {{book.page}} </td>
      </tr>
    </table>

    <table class="table2">
      <tr>
        <td width="55%"  class="table2_tr1" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seller &nbsp;&nbsp;&nbsp;&nbsp;:</td>
        <td width="45%" >{{book.user.firstName}}</td>
      </tr>
      <tr>
        <td width="55%"  class="table2_tr1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; College &nbsp;&nbsp;&nbsp;&nbsp;:</td>
        <td width="45%">{{book.user.college}}</td>
      </tr>
    </table>
   
<hr>
    <div class="div1">
      <div class="button">Add To Wishlist</div>
      <div class="button2">Buy Now</div>
    </div>
  </div>
  
</ion-content>
