<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-title class="new-icon-title-size">
        Sell
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row>
              <ion-col size="3">
                <div class="img"><img src="assets/img/img3.jpg" alt="java"></div>
              </ion-col>
              <ion-col size="0.5"></ion-col>
              <ion-col size="8.5">
                <div class="book-details">
                  <div>
                      <div class="book-title">Machine Learnig</div>
                  </div>
                  <div class="book-price"> &#x20B9;170 <span class="original-price"> 385</span> <span class="discount"> 43% off </span></div>
                  <div class="book-badges">
                    <span style="color: #3484f0; font-weight: 551; font-size: 15px;">DELIVERED</span>   
                  </div>
                  <div style="float: right; margin-top: 20px;">
                    <div style="float: left;"><ion-icon name="md-eye" class="new-wishlist" style="color: #3484f0;"></ion-icon></div>
                    <div style="float: left; margin-left: 5px; padding-top: 3px; color: #3484f0">33</div>
                    <div style="float: left;"><ion-icon name="md-share" class="new-wishlist" style="color: #3484f0; margin-left: 12px;"></ion-icon></div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                  <ion-col size="3">
                    <div class="img"><img src="assets/img/img5.jpg" alt="java"></div>
                  </ion-col>
                  <ion-col size="0.5"></ion-col>
                  <ion-col size="8.5">
                    <div class="book-details">
                        <div>
                            <div class="book-title">Think Java</div>
                        </div>
                      <div class="book-price"> &#x20B9;100 <span class="original-price"> 200</span> <span class="discount"> 50% off </span></div>
                      <div class="book-badges">
                          <span style="color: #3484f0; font-weight: 551; font-size: 15px;">WAITING FOR BUYER...</span>
                      </div>
                      <div style="float: right; margin-top: 20px;">
                        <div style="float: left;"><ion-icon name="md-eye" class="new-wishlist" style="color: #3484f0;"></ion-icon></div>
                        <div style="float: left; margin-left: 5px; padding-top: 3px; color: #3484f0">13</div>
                        <div style="float: left;"><ion-icon name="md-share" class="new-wishlist" style="color: #3484f0; margin-left: 12px;"></ion-icon></div>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addBook()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  

</ion-content>
  