<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="tab-button">
      <ion-icon name="md-home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tab-button">
      <ion-icon name="ios-heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab-button">
      <ion-icon name="md-cart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="tab-button">
      <ion-icon name="md-pricetag"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5" class="tab-button">
      <ion-icon name="ios-contact"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
