<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-title class="new-icon-title-size">
        Wishlist
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div *ngFor="let book of books; let i = index">
      <ion-card>
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                    <ion-col size="3">
                      <div class="img" (click)="bookDetails(book.bookid)"><img [src]="book.imagelinkfront" alt="image"></div>
                    </ion-col>
                    <ion-col size="0.5"></ion-col>
                    <ion-col size="8.5">
                      <div class="book-details">
                        <div>
                          <div class="book-title" (click)="bookDetails(book.bookid)">{{book.bookname}}</div>
                          <div *ngIf="book.add"><ion-icon src="assets/icon/heart.svg" class="new-wishlist" (click)="addWishlist(i,book.bookid)"></ion-icon></div>
                          <div *ngIf="!book.add"><ion-icon src="assets/icon/wishlist.svg" class="new-wishlist" (click)="rmWishlist(i,book.wishlistId)"></ion-icon></div>
                        </div>
                        <div class="book-price"> &#x20B9;{{book.sellingprice}} <span class="original-price"> {{book.originalprice}}</span> <span class="discount"> {{book.discount}}% off </span></div>
                        <div class="book-badges">
                            <ion-badge (click)="bookDetails(book.bookid)">{{book.subjectname}}</ion-badge>
                            <ion-badge (click)="bookDetails(book.bookid)">SEM {{book.semester}}</ion-badge>
                            <ion-badge (click)="bookDetails(book.bookid)">{{book.author}}</ion-badge>
                            <ion-badge (click)="bookDetails(book.bookid)">{{book.publication}}</ion-badge>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-card-content>
      </ion-card>
    </div>

  </ion-content>
  