ion-content {
  text-transform: capitalize;
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.img{
  height: 120px;
  margin: -10px;
}

.book-details{
  margin-top: -10px;
}

.book-title{
  color: black;
  font-weight: bold;
  font-size: 16px;
  float: left;
}

.new-wishlist{
  font-size: 18px;
  float: right;
  margin-top:4px;
}

.book-price{
  color: black;
  font-weight: bold;
  font-size: 13px;
  clear: left;
}

.discount{
  color: #047bd5;//#035781;
}

.original-price{
  text-decoration: line-through;
  color: #8c8c8c;
}

.book-badges{
  margin-top: 5px;
}

ion-badge{
  margin-right: 5px;
  background-color: #3484f0;;
  font-size: 12px;
  padding: 6px;
}

img{
  border: 1px solid black;
  height: 120px;
}

.filter {
  height: 45px;
  width: 100%;
  box-shadow: 0 2px 0 0 rgba($color: #dbdad7, $alpha: 1.0);
  
}

.sub-filter {
  width: 50%;
  height: 100%;
  float: left;
  box-shadow: 2px 0 0 0 rgba($color: #dbdad7, $alpha: 1.0);

  text-align: center; 
  font-size: 16px;
  padding-top: 14px; 
}

.fill
{
  text-align: center;
   font-size: 16px; 
   padding-top: 14px; 
   height: 45px;
}