<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-title class="new-icon-title-size">
        My Orders
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <div class="img"><img src="assets/img/img2.jpg" alt="java"></div>
                </ion-col>
                <ion-col size="0.5"></ion-col>
                <ion-col size="8.5">
                  <div class="book-details">
                    <div>
                        <div class="book-title">Spring Boot</div>
                    </div>
                    <div class="book-price"> &#x20B9;85 <span class="original-price"> 230</span> <span class="discount"> 58% off </span></div>
                    <div class="book-badges">
                      <span style="color: #3484f0; font-weight: 551; font-size: 15px;">DELIVERED</span>   
                    </div>
                    <div style="float: right; margin-top: 20px;">
                      <div style="float: left; padding-top: 3px; color: #3484f0">View Details</div>
                      <div style="float: left; margin-left: 7px;"><ion-icon name="ios-arrow-dropdown-circle" class="new-wishlist" style="color: #3484f0;"></ion-icon></div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <div class="img"><img src="assets/img/img4.jpg" alt="java"></div>
                </ion-col>
                <ion-col size="0.5"></ion-col>
                <ion-col size="8.5">
                  <div class="book-details">
                      <div>
                          <div class="book-title">Python Progrmming</div>
                      </div>
                      <div class="book-price"> &#x20B9;230 <span class="original-price"> 589</span> <span class="discount"> 33% off </span></div>
                    <div class="book-badges">
                        <span style="color: #3484f0; font-weight: 551; font-size: 15px;">WAITING FOR SELLER RESPONSE...</span>
                    </div>
                    <div style="float: right; margin-top: 20px;">
                      <div style="float: left;"><ion-icon name="md-eye" class="new-wishlist" style="color: #3484f0;"></ion-icon></div>
                    <div style="float: left; margin-left: 5px; padding-top: 3px; color: #3484f0">27</div>
                    <div style="float: left;"><ion-icon name="md-share" class="new-wishlist" style="color: #3484f0; margin-left: 12px;"></ion-icon></div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>
  </ion-content>
  