<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="register(userForm)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h1>Sign Up</h1>
          </div>
          <div class="ion-padding">

            <ion-input type="hidden" formControlName="userId"></ion-input>

            <ion-item>
              <ion-input type="text" formControlName="firstName" placeHolder="First Name"></ion-input>
            </ion-item><br> 
            <ion-item>
              <ion-input type="text" formControlName="lastName" placeHolder="Last Name"></ion-input>
            </ion-item><br> 
            <ion-item>
              <ion-input type="text" formControlName="wpno" placeHolder="Whatsapp Number"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-input type="email" formControlName="email" placeHolder="Email"></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-input [type]="password_type" formControlName="password" placeHolder="Password"></ion-input>
              <ion-icon [name]="password_icon" item-right (click)="togglePasswordMode()"></ion-icon>
            </ion-item><br>
            <ion-item>
              <ion-input [type]="password_type" formControlName="confirmPassword" placeHolder="Confirm Password"></ion-input>
              <ion-text *ngIf="status">Password Not Match</ion-text>
            </ion-item><br>
            <ion-item>
              <ion-label>College</ion-label>
              <ion-select formControlName="college" okText="Ok" cancelText="Cancel">
                <ion-select-option value=""> Select </ion-select-option>
                <ng-container *ngFor="let c of college">
                  <ion-select-option value="{{c}}"> {{c}} </ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item><br>
            <ion-item>
              <ion-label>Type</ion-label>
              <ion-select formControlName="userType" okText="Ok" cancelText="Cancel">
                <ion-select-option value=""> Select </ion-select-option>
                <ion-select-option value="Student"> Student </ion-select-option>
                <ion-select-option value="Faculty"> Faculty </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center ion-padding">
        <ion-col>
          <ion-button size="large" shape="round" (click)="reset()">Reset</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="create" size="large" shape="round" type="submit" [disabled]="userForm.invalid">{{mode}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>

  </ion-content>