/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.fl {
    float: left;
}

.fr {
    float: right;
}

// .tab-button {
//     &[aria-selected="false"] {
//     color: red !important;
//     }

//     &[aria-selected="true"] {
//     //color: #034f84 !important;
//     ion-icon{ font-size: 30px !important;}
//     }
// }

.new-background-color{
    --background: #3484f0;
}

.new-icon-title-size{
    font-size: 21px;
    margin-top: 0px;
    color: white;
}

.new-book-title{
    font-size: 27px;
    margin-left: 15px;
    margin-top: 5px;
    float: left;
    color: white;
}

.icon-size {
    font-size: 25px;
    margin-left: 10px;
}

ion-button {
    --background: #3484f0;
}

.myspin {
    --spinner-color: #3484f0;
    --background: transparent;
    transform: scale(1.5);
}