<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="new-icon-title-size">
        Filter
        <ion-icon name="close-circle" (click)="dismiss()" class="new-icon-title-size fr icon-size"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>

            <ion-item>
              <ion-label>Semester</ion-label>
              <ion-select name="semester" interface="popover" [(ngModel)]="sem" (ionChange)="semester()">
                <ion-select-option value=""> Select </ion-select-option>
                <ion-select-option value="1"> 1 </ion-select-option>
                <ion-select-option value="2"> 2 </ion-select-option>
                <ion-select-option value="3"> 3 </ion-select-option>
                <ion-select-option value="4"> 4 </ion-select-option>
                <ion-select-option value="5"> 5 </ion-select-option>
                <ion-select-option value="6"> 6 </ion-select-option>
                <ion-select-option value="7"> 7 </ion-select-option>
                <ion-select-option value="8"> 8 </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Branch</ion-label>
              <ion-select name="branch" interface="popover" [(ngModel)]="branchVar" (ionChange)="branch()">
                <ion-select-option value=""> Select </ion-select-option>
                <ion-select-option value="1"> General </ion-select-option>
                <ion-select-option value="2"> Civil </ion-select-option>
                <ion-select-option value="3"> Computer </ion-select-option>
                <ion-select-option value="4"> Electrical </ion-select-option>
                <ion-select-option value="5"> EC </ion-select-option>
                <ion-select-option value="6"> IT </ion-select-option>
                <ion-select-option value="7"> Mechanical </ion-select-option>
                <ion-select-option value="8"> Automobile </ion-select-option>
                <ion-select-option value="9"> Biomedical </ion-select-option>
                <ion-select-option value="10"> Chemical </ion-select-option>
                <ion-select-option value="11"> Environment </ion-select-option>
                <ion-select-option value="12"> IC </ion-select-option>
                <ion-select-option value="13"> Plastic </ion-select-option>
                <ion-select-option value="14"> Rubber </ion-select-option>
                <ion-select-option value="15"> Textile </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Subject</ion-label>
              <ion-select name="subject" interface="popover" [(ngModel)]="sub" (ionChange)="subject()">
                <ion-select-option value=""> Select </ion-select-option>
                <ion-select-option [value]="sub.subjectid" *ngFor="let sub of subjects"> {{sub.subjectname}} </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>College</ion-label>
              <ion-select name="college" interface="popover" [(ngModel)]="college" (ionChange)="college()">
                <ion-select-option value=""> Select </ion-select-option>
                <ion-select-option [value]="col.name" *ngFor="let col of colleges"> {{col.name}} </ion-select-option>
              </ion-select>
            </ion-item>

          </div>
          <div padding>
            <ion-button size="large" shape="round" type="submit" [disabled]="invalid" expand="block" (click)="apply()">Apply</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>